@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
* { /* RESET */
  vertical-align: baseline;
  text-align: left;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 1.3;
  text-decoration: none;
  box-sizing: border-box;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  color: #2e2c2a;
}

head, script {
  display: none;
}

body {
  background-color: #ffffff;
}

header, footer {
  background-color: #f1a536;
  padding: 20px 150px;
  display: flex;
  justify-content: right;
  align-items: center;
  border-bottom: 3px solid #ffffff;
}
header img, footer img {
  margin-right: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
header a, header p, footer a, footer p {
  font-size: 1.5em;
  margin-left: 30px;
}

main .landing-background {
  background-image: url(../images/hero-image.jpg);
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: end;
}
main .landing-background h2 {
  font-size: 2.5em;
  font-weight: 700;
  padding: 10px 30px;
  margin-bottom: 80px;
  background-color: #ffffff;
  display: inline-block;
}
main .landing-background.burger {
  background-image: url(../images/bengal-burger.jpg);
}
main .recipe-blurb {
  padding: 50px 150px;
}
main .recipe-blurb .blurb-text {
  margin-bottom: 50px;
}
main .recipe-blurb .blurb-text h2 {
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: 20px;
}
main .recipe-blurb .blurb-text p {
  font-size: 1.5em;
}
main .recipe-blurb .recipe-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
main .recipe-blurb .recipe-list .recipe {
  width: 500px;
  margin-bottom: 30px;
}
main .recipe-blurb .recipe-list .recipe img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
main .recipe-blurb .recipe-list .recipe a {
  display: block;
  text-align: center;
  font-size: 1.5em;
  padding: 20px 0;
}
main .secondary {
  background-color: #dadfea;
}
main .secondary .recipe-list .recipe {
  width: 350px;
  background-color: #ffffff;
}
main .secondary .recipe-list .recipe img {
  height: 300px;
}
main .tertiary .recipe-list .recipe img {
  padding: 10px;
  background-color: #dadfea;
}
main table {
  background-color: #dadfea;
  padding: 50px 150px;
  width: 100%;
}
main table thead tr th {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 30px;
}
main table tbody tr td .label {
  font-weight: 700;
}
main .recipe-title {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
  padding: 50px 150px;
}
main .recipe-title h2 {
  display: block;
  font-size: 2.5em;
  font-weight: 800;
}
main .recipe-title .reviews {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
main .recipe-title .reviews .stars {
  margin-right: 20px;
}
main .recipe-title .recipe-controls {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
main .recipe-title .recipe-controls a {
  padding: 10px 30px;
  background-color: #a63223;
  border-radius: 50px;
  margin-right: 20px;
  color: #ffffff;
}
main .recipe-title .recipe-controls .printer-container {
  height: 45px;
  width: 45px;
  border: 1.5px solid #2e2c2a;
  border-radius: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
main .recipe-title .recipe-description {
  padding: 50px 150px;
  background-color: #eef0f4;
  text-align: center;
  color: #545353;
  font-size: 1.5em;
  font-weight: 700;
}
main .burger-recipe {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px 150px;
}
main .burger-recipe h2.title {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 20px;
}
main .burger-recipe h3.title {
  font-size: 1em;
  font-weight: 700;
  margin: 20px 0 0 20px;
}
main .burger-recipe ul {
  list-style-position: inside;
}
main .burger-recipe ol {
  padding-left: 20px;
}
main .burger-recipe .instructions {
  width: 50%;
}
main .burger-recipe .directions {
  width: 50%;
}
main .burger-recipe .directions li {
  padding-bottom: 20px;
}
main .burger-recipe .directions .countertop-grill {
  margin-top: 20px;
  font-weight: 500;
}
main .youtube {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

footer {
  height: 150px;
  border: 0;
}
footer p {
  margin-right: auto;
}
footer p, footer a {
  font-size: 1em;
}/*# sourceMappingURL=style.css.map */