@use "vars" as *;

body {
    background-color: $background;
}

header {
    background-color: $accent;
    padding: 50px 100px;
    display: flex;
    justify-content: right;
    align-items: center;
    border-bottom: 3px solid $background;

    .logo-container {
        margin-right: auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
         img {

         }
         p {

         }
    }
}

main {
    .landing-background {
        background-image: url(hero-image.jpg);
    }
}
